section {
    padding: 30px;
}
  
h3 {
    margin-bottom: 30px;
}

h5 {
    margin-bottom: 30px;
    margin-left: 10px;
}
  
.navbar-brand {
    font-size: 28px;
    font-weight: bold;
    animation: colorChange 2s linear infinite;

}

@keyframes colorChange {
    0% { color: #FFFFFF; }
    25% { color: #F9F9F8; }
    50% { color: #F2F3F2; }
    75% { color: #ECECEB; }
    100% { color: #E5E6E4; }
}

.hobbies li {
    list-style-type: none;
    padding: 5px;
}

.hobbies mark {
    background-color: #FBFFDC;
    border: 1px solid #FBFFDC;
    border-radius: 5px;
    margin-left: 10px;
}

.contact-info li {
    list-style-type: none;
    padding: 5px;
}

.contact-info mark {
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-left: 10px;
}

.contact-info a {
    color: #4A55A2;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #555555;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 50px;
}

#back-to-top:hover {
    background: #777777;
}
