section {
    padding: 30px;
}
  
h2 {
    margin-bottom: 30px;
}

h5 {
    margin-bottom: 30px;
    margin-left: 10px;
}
  
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.hobbies li {
    list-style-type: none;
    padding: 5px;
}

.hobbies mark {
    background-color: #FBFFDC;
    border: 1px solid #FBFFDC;
    border-radius: 5px;
    margin-left: 10px;
}

.contact-info li {
    list-style-type: none;
    padding: 10px;
}

.contact-info mark {
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-left: 10px;
}

.contact-info a {
    color: #4A55A2;
}

